html,
body {
  padding: 0;
  margin: 0;
  background: var(--background);
  color: var(--primary);
  font-family: var(--primary-font);
  /*-webkit-font-smoothing: antialiased;*/
  /*font-size: 15px;*/
  /*line-height: 1.467em;*/
}
