body {
  /* brands */
  --institutional-color: #1073c0;
  --candidates-color: #50c092;
  --professionals-color: #FF7F2E;
  --brand-gradient: linear-gradient(90deg, #f7902a, #f9564b);

  /* color scheme */
  --background: #eee;
  --foreground: white;
  --primary: black;
  --secondary: #8c8c8c;
  --tertiary: #d4d5d5;
  --accent: var(--professionals-color);

  /* typography */
  --primary-font: 'Open Sans', sans-serif;

  /* shadow */
  --elevation: 0 1px 3px 0 rgba(0, 0, 0, 0.2);

  /* motion */
  --fast: .2s;

  /* rounding */
  --smooth-rounding: 4px;
}


/* dark mode */
@media (prefers-color-scheme: dark) {
  body {
    --background: #0d1117;
    --foreground: #202024;
    --primary: white;
    --secondary: #343a40;
    --tertiary: #212529;
  }
}

/* reduced motion */
@media (prefers-reduced-motion) {
  body {
    --fast: 0s;
  }
}
